/* Web Font Setting
font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans KR', sans-serif;

 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Rem 단위 : Root 요소를 기준으로 설정하는 단위 */
html {
  font-size: 10px;
}

body {
  font: 1.6em $ff2;
  color: $paraC1;
}

p {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

caption {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

/* form */
fieldset {
  border: 0;
}

legend {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input,
label {
  vertical-align: middle;
}

input {
  outline: none;
}

/* ~~Help Class Setting~~ */

/* ir(Image Replace)-이미지 대체 기법 / html에 붙임*/
.ir {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
  background: no-repeat 0 0;
}

/* 플롯해제 Class : .clearfix만 붙여주면 ::after가 붙음 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 화면 감추기 Class / html에 붙임*/
.blind {
  display: none;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}