$primary: #5856e9;


//background color
$bgC1: #fff;
$bgC2: #f3f7f9;     //home 그라데이션
$bgC3: #ecf2f6;    // about
$bgC4: #27272e;   //skills footer

// skills hover background color
$bgC5: #3a3a44;

// 포트폴리오 썸네일
$bgC6: #e1e1ff;
$bgC7: #f3f7f9;
$bgC8: #e9e8f2;

// font color
$menuC: #9595a0;

$titleC1: #17171b;
$paraC1: #27272e;
$subC1: #c75c6f;

$titleC2: #fff;
$paraC2: #eeeeee;
$subC2: #fae95e;

// 포트폴리오 썸네일
$titleC3: #323252;
$paraC3: $primary;

$titleC4: lighten($primary, 10);
$paraC4: #27272e;

// font
$ff1: 'Poppins', sans-serif;
$ff2: 'Noto Sans KR', sans-serif;